vrrp_script check_apiserver {
    script "/etc/keepalived/check_apiserver.sh"
    interval 3
    weight -2
    fall 10
    rise 2
}

vrrp_instance INSTANCE {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1
    unicast_src_ip {{ ansible_facts['default_ipv4']['address'] }}
    unicast_peer {
        {{ keepalived_peers[0] }}
        {{ keepalived_peers[1] }}
    }
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}/24
    }
    track_script {
        check_apiserver
    }
}
