apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: apps
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/atyiadam/adama-k8s-apps
      revision: main
      files:
      - path: "overlays/{{ cluster_env }}/{{ cluster_name | replace('_', '-') }}/*/*/kustomization.yaml"
  template:
    metadata:
      name: '{% raw %}{{path[3]}}-{{path.basename}}{% endraw %}'
      namespace: argocd
    spec:
      project: default
      source:
        repoURL: https://github.com/atyiadam/adama-k8s-apps
        targetRevision: main
        path: 'overlays/{{ cluster_env }}/{{ cluster_name | replace('_', '-') }}/{% raw %}{{path[3]}}/{{path.basename}}{% endraw %}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{% raw %}{{path[3]}}{% endraw %}'
      syncPolicy:
        automated:
          prune: false
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
